.embla {
  position: relative;
  max-width: 100%;
  padding: 4rem 0;
  margin: 0 40px;

}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.embla__slide {
  position: relative;
  flex: 0 0 auto;
  width: 350px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.imgs {
  position: relative !important;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100% !important;
  height: auto !important;
}

.embla__caption {
  padding: 0.75rem;
}

.category {
  color: #0074cc;
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  color: #222;
}

.sponsor {
  font-size: 0.85rem;
  color: #888;
}

.embla__controls {
  position: absolute;
  top: 0rem; /* move to top */
//   right: 1rem; /* move to right */
  display: flex;
//   gap:0.5rem;
  justify-content:space-between;
  z-index: 10;
  width: 100%;
  padding-top: 25px;
}
.sectionTitle {
    border-left: 10px solid rgb(155, 41, 41);
    font-size: 30px;
    margin-left: 25px;
    color: white;
    padding-left: 10px;

}

.embla__button {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background 0.2s ease;
  margin: 0 10px;

 @media (max-width: 767px) {
    display: none;
  }
}

.embla__button:hover {
  background: #f0f0f0;
}